<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div th:insert="fragments/_head :: head"></div>
<div th:insert="fragments/_header :: header"></div>
<div class="container text-center">
    <h3 class="mt-5 welcome-title">STEP 1: Feet Position</h3>
    <img class="steps" th:src="@{/img/step1.jpg}">
    <p class="mt-5 container welcome-p">
        The first step to learning how to kickflip is making sure your feet
        are in the correct position before you even start to do the trick. So, practice
        riding around and moving your feet from your "riding around" position to this
        kickflip position. Then once you're comfortable with that move on to the next step.
    </p>
</div>

<div th:insert="fragments/_footer :: footer"></div>