<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div th:insert="fragments/_head :: head"></div>
<div th:insert="fragments/_header :: header"></div>
<div class="container text-center">
    <h3 class="mt-5 welcome-title">STEP 2: THE FLICK</h3>
    <img class="steps" th:src="@{/img/step2.jpg}"><img class="steps" th:src="@{/img/step2-1.png}">
    <p class="mt-5 container welcome-p">
        The next thing you need to work on for learning kickflips is THE FLICK! The flick is what makes
        the board spin the way it's supposed to for a kickflip. With this step, practice sliding
        your foot to the front corner of your board (image 1) and once you get the hang of that foot motion,
        try doing an ollie and then FLICKING the top corner of the board (image 2).<br>
        You don't have to land it yet, just make sure you're getting the proper rotation and then
        move on to the final step!
    </p>
</div>

<div th:insert="fragments/_footer :: footer"></div>