.welcome-title
{
    font-family: 'Black Ops One', cursive;
    text-shadow: 7px 7px 10px grey;
}
nav
{
    font-family: 'Black Ops One', cursive;
}
body
{
    background-image: url("/img/sb.jfif");
}
.welcome-p
{
    font-family: 'Black Ops One', cursive;
    font-size: 1.5em;
    text-shadow: 7px 7px 7px grey;
    color: black;
}
.steps
{
    width: 50%;
    height: auto;
    box-shadow: 10px 10px 5px grey;
}
footer
{
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 85%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}