<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div th:insert="fragments/_head :: head"></div>
<div th:insert="fragments/_header :: header"></div>
<div class="container text-center">
    <h3 class="mt-5 welcome-title">LEARNING HOW TO KICKFLIP!</h3>
    <p class="mt-5 container welcome-p">
        So you want to learn how to kickflip a skateboard!<br>I have broken this trick into 3 main steps
        for you to learn, but these steps are for those who are already familiar and comfortable doing
        the following; riding around on a skateboard, ollie, shove it/pop shove it, and front shove it.<br>
        When you think you are ready click on "Step 1" to get started, good luck!
    </p>
</div>
<div th:insert="fragments/_footer :: footer"></div>